/* div {
  border: 1px solid #7381df;
  padding: 10px;
} */

/* $color1: rgba(230, 57, 70, 1);
$color2: rgba(241, 250, 238, 1);
$color3: rgba(168, 218, 220, 1);
$color4: rgba(69, 123, 157, 1);
$color5: rgba(29, 53, 87, 1);  */

.root {
  margin: 0;
  padding: 0;
}
.App {
  margin: 0;
  background: rgb(168, 194, 211);
  background-image: url("./news3.png");
  background-size: contain;
  /* flex: 1; */
  /* flex-direction: "row"; */
  /* justify-content: "center"; */
  /* align-items: "stretch"; */
  /* padding: 0; */
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  /* font-family: Arial Narrow, sans-serif; */
}

@media (min-width: 900px) {
  .vote-options-container {
    display: flex;

    flex-direction: row;
  }
}

.articles-title {
  background-color: rgb(168, 194, 211);
}

.vote-options-container p {
  padding-right: 10px;
  /* background-color: rgb(88, 88, 27); */
  padding: 0px;
  margin-top: 0.2em;
  margin-bottom: 0em;
  padding-left: 10px;
  color: rgb(81, 152, 161);
}

.vote-options-container {
  /* display: flex; */
  /* flex-direction: column; */
  max-height: 30px;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.header-container {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: rgba(230, 57, 71, 0.599);
}

.homepage-container {
  padding-top: 90px;
  margin: 0;
  padding-left: 10px;
}

.homepage-title {
  margin: 0;
  padding: 10px;
  background-color: ;
}

.sort-by-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

button {
  border-radius: 15%;
  /* display: inline-block; */
  /* border: none; */
  /* padding: 1rem 2rem; */
  /* text-decoration: none; */
  background: rgba(168, 218, 220, 1);
  /* color: #ffffff; */
  /* font-family: sans-serif; */
  font-size: 1rem;
  cursor: pointer;
  /* text-align: center; */
  /* transition: background 250ms ease-in-out, transform 150ms ease; */
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
}

button:onclick {
  background: rgba(29, 53, 87, 1);
}

button:hover,
button:focus {
  background: rgba(29, 53, 87, 1);
}

/*
/* button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
} */
/* 
button:active {
   background: #381749;
  transform: scale(0.99);
} */

/* body {
  margin: 40px;
  font-family: Gerorgia, Times, serif;
  background-color: #fff;
  color: #444;
} */
/* 
$color1: rgba(230, 57, 70, 1);
$color2: rgba(241, 250, 238, 1);
$color3: rgba(168, 218, 220, 1);
$color4: rgba(69, 123, 157, 1);
$color5: rgba(29, 53, 87, 1); */

/* background-color: rgba(0, 21, 20, 1); */

/* .topic-search-bar-container p {
  padding-right: 10px;
  background-color: rgb(88, 88, 27);
  padding: 0px;
  margin-top: 0.2em;
  margin-bottom: 0em;
  font-style: italic;
  padding-left: 10px;
  color: rgb(81, 152, 161);
} */

.topic-search-bar-row form {
  padding-right: 10px;
}

.topic-search-bar-row {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  /* background-color: beige; */
}

.topic-search-bar-row label {
  padding: 8px;
}
.topic-search-bar-row input {
  /* flex-grow: 1; */
}

:any-link {
  text-decoration: none;
}

/* to deal with small screen, shut off flex props */
@media (min-width: 800px) {
  .article-cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

img {
  border-radius: 8px;
}

.comments-container {
  background-color: rgba(241, 250, 238, 1);
  padding: 20px;
  padding-right: 80px;
  padding-left: 80px;
}
.comment-card-container {
  display: flex;
  /* flex-direction: column; */
  background-color: rgba(241, 250, 238, 1);
}

.comment-card-body {
  flex: 2;
}

.comment-card-delete {
  flex: 1;
}

.comment-card-voteBar {
  flex: 1;
  background-color: #1b181a;
}

.article-cards-container {
  max-width: 1400px;
  /* margin: 0; */
  margin: 0px auto 0 auto;
  /* background-color: rgba(230, 57, 70, 1); */
  /* display: flex; */
  /* justify-content: space-around; */
}

.article-card-contents {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.article-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 20px;
  /* margin-left: 40px; */
  /* background-color: rgb(210, 26, 238); */
  box-sizing: border-box;
  flex-basis: 31%;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 25px;
  background-image: linear-gradient(
    to bottom,
    rgba(241, 250, 238, 1),
    rgba(241, 250, 238, 1) 82%,
    rgba(230, 57, 71, 0.789) 18%
  );
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}

.article-card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 25px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.vote-options-container {
  display: flex;
}

.singleArticleBox-column-left {
  flex: 1;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: 40px;
  /* background-color: rgb(210, 26, 238); */
  box-sizing: border-box;
  flex-basis: 31%;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 25px;
  background-image: linear-gradient(
    to bottom,
    rgba(241, 250, 238, 1),
    rgba(241, 250, 238, 1) 86%,
    rgba(230, 57, 71, 0.789) 14%
  );
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}

.singleArticleBox-column-right {
  /* flex: 1; */
}

.singleArticleBox {
  padding-top: 90px;
  margin: 0;
  width: 90%;
  display: flex;
  /* background-color: beige; */
}

@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}
