.root {
  margin: 0;
  padding: 0;
}
.App {
  margin: 0;
  padding: 0;
}

@media (min-width: 900px) {
  .vote-options-container {
    display: flex;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    /* justify-content: flex-end; */
    flex-direction: row;
  }
}
.vote-options-container p {
  padding-right: 10px;
  /* background-color: rgb(88, 88, 27); */
  padding: 0px;
  margin-top: 0.2em;
  margin-bottom: 0em;
  padding-left: 10px;
  color: rgb(81, 152, 161);
}

.vote-options-container {
  /* display: flex; */
  /* flex-direction: column; */
  max-height: 30px;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.header-container {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.homepage-container {
  padding-top: 90px;
  margin: 0;
}

.sort-by-container {
  display: flex;
  justify-content: space-between;
}

button {
  /* display: inline-block; */
  /* border: none; */
  /* padding: 1rem 2rem; */
  /* text-decoration: none; */
  background: #0069ed;
  /* color: #ffffff; */
  /* font-family: sans-serif; */
  font-size: 1rem;
  cursor: pointer;
  /* text-align: center; */
  /* transition: background 250ms ease-in-out, transform 150ms ease; */
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
}

button:onclick {
  background: #70d38c;
}

button:hover,
button:focus {
  background: #70d38c;
}

/*
/* button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
} */
/* 
button:active {
   background: #381749;
  transform: scale(0.99);
} */
*/

/* body {
  margin: 40px;
  font-family: Gerorgia, Times, serif;
  background-color: #fff;
  color: #444;
} */

/* .colors {

  color1: rgba(0, 21, 20, 1);
  color2: rgba(107, 5, 4, 1);
  color3: rgba(231, 236, 239, 1);
  color4: rgba(163, 50, 11, 1);
  color5: rgba(216, 164, 127, 1);
} */

.topic-search-bar-container {
  height: 70px;
  /* background-color: rgba(0, 21, 20, 1); */
}

.topic-search-bar-container p {
  padding-right: 10px;
  /* background-color: rgb(88, 88, 27); */
  padding: 0px;
  margin-top: 0.2em;
  margin-bottom: 0em;
  font-style: italic;
  padding-left: 10px;
  color: rgb(81, 152, 161);
}

.topic-search-bar-row form {
  padding-right: 10px;
}

.topic-search-bar-row {
  padding: 10px;
  display: flex;
  background-color: beige;
  justify-content: space-between;
}

.topic-search-bar-row label {
  padding: 8px;
}
.topic-search-bar-row input {
  flex-grow: 1;
}

:any-link {
  text-decoration: none;
}

div {
  border: 1px solid #7381df;
  padding: 10px;
  /* border-style: inset; */
}
/* to deal with small screen, shut off flex props */
@media (min-width: 800px) {
  .article-cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

img {
  border-radius: 8px;
}

.comment-card-container {
  display: flex;
  /* flex-direction: column; */
}

.comment-card-body {
  flex: 2;
}

.comment-card-delete {
  flex: 1;
}

.comment-card-voteBar {
  flex: 1;
  background-color: #85145f;
}

.article-cards-container {
  max-width: 1400px;
  margin: 40px auto 0 auto;
  background-color: #2c5863;
  /* display: flex; */
  /* justify-content: space-around; */
}

.article-card-contents {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.article-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 20px;
  /* background-color: rgb(210, 26, 238); */
  box-sizing: border-box;
  flex-basis: 31%;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 25px;
  background-image: linear-gradient(
    to bottom,
    rgb(236, 255, 255),
    rgb(255, 255, 255) 80%,
    green 20%
  );
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}

.article-card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 25px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.vote-options-container {
  display: flex;
}

/* .vote-button:hover {
  background-color: rgb(178, 186, 214);
} */

/* .comments {
  display: flex;
  flex-direction: column;
  background-color: #5770a3;
  margin-top: 1em;
  margin-left: 1em;
} */

.singleArticleBox-column-left {
  flex: 1;
}

singleArticleBox-column-right {
  flex: 1;
}

.singleArticleBox {
  padding-top: 90px;
  margin: 0;
  width: 90%;
  display: flex;
}
/* 



    HTML CSS 

    Result 

EDIT ON

*,
*:before,
*:after {
  box-sizing: border-box;
}


/* h1,
p {
  margin: 0 0 1em 0;
} */

/* .wrapper {
  max-width: 940px;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
} */

/* no grid support? */
/* 
/* .wrapper {
  display: flex;
  flex-wrap: wrap;
} */

/* .wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
} */
*/

/* .panel {
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
    font-size: 15%;
} */

/* .header,
.footer {
  margin-left: 5px;
  margin-right: 5px;
  flex: 0 1 100%;
  grid-column: 1 / -1;
} */

/* .wrapper > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 90%;
  margin-bottom: 10px;
} */


/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */

@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}

/* body {
 font-family: "Courier New", monospace;
  display: grid;
  grid-template-rows: 150px auto 100px;


}

h1, h2 {
  background-color: rgb(107, 141, 127);
  font-family: Georgia, Times, serif
}

p {
  background-color: burlywood;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */
