.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.comments{
  background-color: #5770a3;
}

.singleArticleBox {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-left: 1em;
  border-radius: 25px;
  background: #0F8B8D;
  padding: 20px;
  width: 90%;
  height: initial;
  margin-bottom: 3em;
  color: rgb(149, 155, 44);
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */
 
