body {
  margin: 40px;
  font-family: Gerorgia, Times, serif;
  background-color: #fff;
  color: #444;
}

div {
  border: 1px solid #7381df;
  padding: 10px;
  border-style: inset;
}

button {
}

/* .comments {
  display: flex;
  flex-direction: column;
  background-color: #5770a3;
  margin-top: 1em;
  margin-left: 1em;
} */

/* .singleArticleBox {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-left: 1em;
  border-radius: 25px;
  background: #0F8B8D;
  padding: 20px;
  width: 90%;
  height: initial;
  margin-bottom: 3em;
  color: rgb(149, 155, 44);
} */
/* 



    HTML CSS 

    Result 

EDIT ON

*,
*:before,
*:after {
  box-sizing: border-box;
}


/* h1,
p {
  margin: 0 0 1em 0;
} */

/* .wrapper {
  max-width: 940px;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
} */

/* no grid support? */
/* 
/* .wrapper {
  display: flex;
  flex-wrap: wrap;
} */

/* .wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
} */
*/

/* .panel {
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
    font-size: 15%;
} */

/* .header,
.footer {
  margin-left: 5px;
  margin-right: 5px;
  flex: 0 1 100%;
  grid-column: 1 / -1;
} */

/* .wrapper > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 90%;
  margin-bottom: 10px;
} */


/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */

@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}

/* body {
 font-family: "Courier New", monospace;
  display: grid;
  grid-template-rows: 150px auto 100px;


}

h1, h2 {
  background-color: rgb(107, 141, 127);
  font-family: Georgia, Times, serif
}

p {
  background-color: burlywood;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */
