@media (max-width: 700px) {
  .topic-search-bar-row {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  button Datesort {
    padding: 100px;
  }

  .sort-by-container {
    flex-direction: column;
  }

  .singleArticleBox-column-left {
    padding-top: 200px;
    font-size: 3vw;
    margin: auto;
  }

  .header-container {
    font-size: 3vw;
  }

  .comments-container {
    background-color: rgba(241, 250, 238, 1);
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}

.root {
  margin: 0;
  padding: 0;
}
.App {
  margin: 5px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;

  font-family: Arial Narrow, sans-serif;
}

@media (min-width: 700px) {
  .topic-search-bar-row {
    display: flex;
    justify-content: flex-beginning;
  }
  .vote-options-container {
    display: flex;
    flex-direction: row;
  }

  .comments-container {
    background-color: rgba(241, 250, 238, 1);
    padding: 20px;
    padding-right: 80px;
    display: flex;

    flex-direction: column;
    padding-left: 80px;
  }
}

.articles-title {
  color: rgba(49, 8, 31, 1);
}

.vote-options-container p {
  padding-right: 10px;
  padding: 0px;
  margin-top: 0.2em;
  margin-bottom: 0em;
  padding-left: 10px;
  color: rgba(46, 134, 171, 1);
}

.vote-options-container {
  max-height: 30px;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.header-container {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: rgba(229, 90, 52, 0.815);
}

.header-container button {
  height: 40px;
  width: 80px;
  margin-top: 15px;
  margin-left: 10px;
}

.logged-in-bar {
  margin-right: 15px;
}

.homepage-container {
  padding-top: 90px;
  margin: 0;
  padding-left: 10px;
}

.homepage-title {
  margin: 0;
  padding: 10px;
  background-color: ;
}

.sort-button-container button {
  padding-top: 5px;
  padding-bottom: 5px;
}

.sort-button-container {
  flex-direction: column;
  justify-content: flex;
  margin-right: 10px;
  margin-left: 10px;
}

.sort-by-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

button {
  border-radius: 1%;
  color: rgba(46, 134, 171, 1);
  font-family: Arial Narrow, sans-serif;

  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background: rgb(140, 158, 184);
}

button:disabled {
  background: rgba(126, 119, 119, 0.603);
}

.topic-search-bar-row form {
  margin-right: 10px;
}

.topic-search-bar-row label {
  padding: 8px;
}

:any-link {
  text-decoration: none;
  color: antiquewhite;
  text-shadow: ;
}

/* to deal with small screen, shut off flex props */
@media (min-width: 800px) {
  .article-cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

*/ .App label {
  font-size: 80%;
}

.vote-options-container button {
  margin-right: 2px;
  margin-top: 3px;
  margin-left: 4px;
}
img {
  border-radius: 8px;
}

.comment-card-container {
  border-top: 5px solid rgba(157, 155, 206, 0.599);
  flex-direction: column;
  display: flex;
  background-color: rgba(241, 250, 238, 1);
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.comment-card-voteBar {
  background-color: #1b181a;
}

.article-cards-container {
  max-width: 1400px;
  margin: 0px auto 0 auto;
}

.article-card-contents-football a {
  background-color: rgb(241, 239, 236);
  opacity: 0.8;
  color: black;
  padding: 5px;
}

.article-card-contents-football h3 {
  background-color: rgb(241, 239, 236);
  color: rgb(16, 97, 16);
}

.article-card-contents-coding h3 {
  background-color: rgb(241, 239, 236);
  color: rgb(146, 11, 29);
}

.article-card-contents-cooking h3 {
  background-color: antiquewhite;
  color: rgb(131, 75, 2);
}

.article-card-contents-cooking a {
  background-color: antiquewhite;
  opacity: 0.8;
  color: black;
  padding: 5px;
}

.article-card-contents-coding a {
  background-color: antiquewhite;
  opacity: 0.8;
  color: black;
  padding: 5px;
}

.article-card-football {
  background-image: url(./football3.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.article-card-cooking {
  background-image: url(./cooking.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.article-card-coding {
  background-image: url(./coding.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.article-card-contents {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.article-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  flex-basis: 29%;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 0px;
  background-repeat: no-repeat;
}

.error-page {
  padding: 100px;
}

.article-card {
  background-color: rgb(221, 221, 221);
}

.article-card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 25px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(204, 171, 171, 0.667);
}

.vote-options-container {
  display: flex;
}

.singleArticleBox-top {
  background-color: antiquewhite;
  border-radius: 25px;
  padding: 10px;
  margin: 20px;
}

.singleArticleBox-column-left {
  flex: 1;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: 40px;
  background-color: rgba(157, 155, 206, 0.599);
  box-sizing: border-box;
  flex-basis: 31%;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 0px;

  background-image: linear-gradient(
    to bottom,
    rgba(241, 250, 238, 1),
    rgba(241, 250, 238, 1) 86%
  );
  background-repeat: no-repeat;
}

.singleArticleBox {
  padding-top: 90px;
  width: 90%;
  display: flex;
}

@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}
